<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="carousel-content animated fadeInUp">
            <div class="text-center1">Your dream vacation is just a few clicks away!</div>
            <p></p>
            <% if current_user %>
            <div class="text-center"><a href="user/trips/new" class="btn-get-started">Create Trip</a></div>
            <% else %>
            <div class="text-center"><a href="visitor/trips/new" class="btn-get-started">Create Trip</a></div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</section>
