<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="carousel-content animated fadeInUp">
            <div class="text-center1">You're dream vacation is a few clicks away!</div>
            <p></p>
            <div class="text-center"><a href="" class="btn-get-started">Create Trip</a></div>
          </div>
        </div>
      </div>
  </div>
</section>
