<h1>Dashboard</h1>
<%= link_to "Edit Profile", user_edit_path, class:"btn btn-primary" %>
</br>
<%= link_to "New Trip", "/user/trips/new", class:"btn btn-primary" %>
</br>
<%= link_to "Upcoming Trips", "/user/upcoming_trips", class:"btn btn-primary" %>
</br>
<%= link_to "Past Trips", "/user/past_trips", class:"btn btn-primary" %>
