<div class="profile-edit">
<div class="edit-text">
<h1>Edit User Details</h1>
<%= form_with model: @user do |form| %>
<h4>Name:</h4>
  <%= form.text_field :name %><br><br>
  <%= form.submit class:"btn btn-primary btn-sm" %>
<% end %>
</div>
</div>
